.galeria {
    padding: $separacion 0;

    h3 {
        text-align: center;
        margin-bottom: 10rem;
    }
}

.galeria-imagenes {
    padding: 0;
    list-style-type: none;

    @include grid (2, $separacion);

    @include tablet {
        @include grid(4, $separacion)
    }

    @include desktop {
        @include grid(6, $separacion)
    }
    
}

.overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

.btn-galeria{
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    font-weight: $black;
    background-color: $blanco;
    display: grid;
    place-items: center;
    border-radius: 50%;
    
    &:hover{
        cursor: pointer;
    }
}