.bg-verde {
    background-color: $verde;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
    -webkit-box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
    -moz-box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
}

.bg-amarillo {
    background-color: $amarillo;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
    -webkit-box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
    -moz-box-shadow: 12px -10px 15px 1px rgba(23, 11, 11, 0.55);
}