// El archivo empieza con guion bajo apra indicar que no se debe compilar sino que se importan las variables unicamente

$fuentePrincipal:  "Montserrat", sans-serif;


//colores
$verde:#f599a8;
$rosa:#f53756;
$amarillo:#f0b7e8;
$morado:#752f97;
$negro: #000;
$blanco: #ffff;


//mediaquerys
$small:320px;
$telefono:480px;
$tablet:768px;
$desktop:1200px;
//fuentes
$delgada:300;
$Regular:400;
$bold:700;
$black:900;
//Separaciones

$separacion: 5rem;